<% if current_user.has_like?(recipe.id)%>
  <%= link_to recipe_like_path(recipe_id: recipe.id, id: 0),
    remote: true,
    method: 'delete',
    id: "button-like-recipe-#{recipe.id}" do %>
      <span class= "btn" title="Unlike"><i class="fa fa-heart like" aria-hidden="true"></i></span>
  <% end %>
<% else %>
  <%= link_to recipe_likes_path(recipe_id: recipe.id),
    remote: true,
    method: 'post',
    id: "button-like-recipe-#{recipe.id}" do %>
      <span class= "btn" title="Like"><i class="fa fa-heart-o like" aria-hidden="true"></i></span>
  <% end %>
<% end %>

