<div class="row">
  <div class="col-8 offset-2">
    <div class="row" style="background: #fafafa">
      <div class="col-3 text-center">
        <img class="rounded-circle w-50" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/13344666_2102900209934244_603430536861366406_n.jpg?oh=36a4cf738fc29c7a6f680c3ee6c84605&oe=59789AEE" alt="" />
        <p>Pham Ngoc Thach</p>
        <a href="#">20 follower</a>
      </div>
      <div class="col-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci reprehenderit cum deserunt natus odit? Perferendis, suscipit harum animi numquam amet minima error veritatis itaque repudiandae placeat, delectus ut quaerat!</p>
        <button class="btn btn-primary float-md-right">follow</button>
      </div>
    </div>
    <div class="row mt-10" style="margin-top: 30px">
      <div class="col-10 offset-1 text-center">
        <ul class="list-group">
          <a href="#" style="text-decoration: none; color: #7b7b94">
            <li class="list-group-item">
              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                     <img class="rounded-circle w-50" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/13344666_2102900209934244_603430536861366406_n.jpg?oh=36a4cf738fc29c7a6f680c3ee6c84605&oe=59789AEE" alt="" />
                    </div>
                    <div class="col-9">
                      <h3 style="color: #8bad00">Suon xao chua ngot</h3>
                    </div>
                  </div>
                  <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto quos vero accusamus tenetur illum, necessitatibus non numquam aut harum quis accusantium eius est ipsa, deleniti, voluptate molestias autem saepe.</p>
                  </div>
                </div>
                <div class="col-3">
                  <img class="img-fluid" src="https://img-global.cpcdn.com/005_recipes/8e4f39d1e6be1ece/260x366cq50/photo.jpg" alt="" />
                </div>
              </div>
            </li>          
          </a>
          <a href="#" style="text-decoration: none; color: #7b7b94">
            <li class="list-group-item">
              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                     <img class="rounded-circle w-50" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/13344666_2102900209934244_603430536861366406_n.jpg?oh=36a4cf738fc29c7a6f680c3ee6c84605&oe=59789AEE" alt="" />
                    </div>
                    <div class="col-9">
                      <h3 style="color: #8bad00">Suon xao chua ngot</h3>
                    </div>
                  </div>
                  <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto quos vero accusamus tenetur illum, necessitatibus non numquam aut harum quis accusantium eius est ipsa, deleniti, voluptate molestias autem saepe.</p>
                  </div>
                </div>
                <div class="col-3">
                  <img class="img-fluid" src="https://img-global.cpcdn.com/005_recipes/8e4f39d1e6be1ece/260x366cq50/photo.jpg" alt="" />
                </div>
              </div>
            </li>          
          </a>
          <a href="#" style="text-decoration: none; color: #7b7b94">
            <li class="list-group-item">
              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                     <img class="rounded-circle w-50" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/13344666_2102900209934244_603430536861366406_n.jpg?oh=36a4cf738fc29c7a6f680c3ee6c84605&oe=59789AEE" alt="" />
                    </div>
                    <div class="col-9">
                      <h3 style="color: #8bad00">Suon xao chua ngot</h3>
                    </div>
                  </div>
                  <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto quos vero accusamus tenetur illum, necessitatibus non numquam aut harum quis accusantium eius est ipsa, deleniti, voluptate molestias autem saepe.</p>
                  </div>
                </div>
                <div class="col-3">
                  <img class="img-fluid" src="https://img-global.cpcdn.com/005_recipes/8e4f39d1e6be1ece/260x366cq50/photo.jpg" alt="" />
                </div>
              </div>
            </li>          
          </a>
          <a href="#" style="text-decoration: none; color: #7b7b94">
            <li class="list-group-item">
              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                     <img class="rounded-circle w-50" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/13344666_2102900209934244_603430536861366406_n.jpg?oh=36a4cf738fc29c7a6f680c3ee6c84605&oe=59789AEE" alt="" />
                    </div>
                    <div class="col-9">
                      <h3 style="color: #8bad00">Suon xao chua ngot</h3>
                    </div>
                  </div>
                  <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto quos vero accusamus tenetur illum, necessitatibus non numquam aut harum quis accusantium eius est ipsa, deleniti, voluptate molestias autem saepe.</p>
                  </div>
                </div>
                <div class="col-3">
                  <img class="img-fluid" src="https://img-global.cpcdn.com/005_recipes/8e4f39d1e6be1ece/260x366cq50/photo.jpg" alt="" />
                </div>
              </div>
            </li>          
          </a>
          <a href="#" style="text-decoration: none; color: #7b7b94">
            <li class="list-group-item">
              <div class="row">
                <div class="col-9">
                  <div class="row">
                    <div class="col-3">
                     <img class="rounded-circle w-50" src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-9/13344666_2102900209934244_603430536861366406_n.jpg?oh=36a4cf738fc29c7a6f680c3ee6c84605&oe=59789AEE" alt="" />
                    </div>
                    <div class="col-9">
                      <h3 style="color: #8bad00">Suon xao chua ngot</h3>
                    </div>
                  </div>
                  <div class="row">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur iusto quos vero accusamus tenetur illum, necessitatibus non numquam aut harum quis accusantium eius est ipsa, deleniti, voluptate molestias autem saepe.</p>
                  </div>
                </div>
                <div class="col-3">
                  <img class="img-fluid" src="https://img-global.cpcdn.com/005_recipes/8e4f39d1e6be1ece/260x366cq50/photo.jpg" alt="" />
                </div>
              </div>
            </li>          
          </a>
        </ul>
      </div>
    </div>
  </div>
</div>
