<div class="row">
  <div class="col-12 ">
    <div class="row" style="background: #fafafa">
      <div class="col-3 text-center">
        <%= image_tag avatar_url(@user), class: "img-circle w-50" %>
        <p> <%= @user.name %> </p>
        <a href="#">20 follower</a>
      </div>
      <div class="col-9">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates adipisci reprehenderit cum deserunt natus odit? Perferendis, suscipit harum animi numquam amet minima error veritatis itaque repudiandae placeat, delectus ut quaerat!</p>
        <button class="btn btn-primary float-md-right">follow</button>
      </div>
    </div>


    <div class="row mt-10" style="margin-top: 30px">
      <ul class="card-columns">
        <% if @user.recipes.any? %>
          <% @user.recipes.each do |recipe| %>
            <%= render partial: 'shared/recipe_small', locals: {recipe: recipe} %>
          <% end %>
        <% else %>
          <div>
            You don't have any recipes. Create recipe now!
          </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
