<div class="card">
  <%= image_tag recipe.photos.first.file, class: "card-img-top img-fluid" %>
  <div class="card-block">
    <h4 class="card-title recipe-title"><%= link_to recipe.title, recipe_path(recipe.id) %></h4>
    <p class="card-text"><%= recipe.describe %></p>
  </div>
  <div class="card-footer">
    <span class= "btn btn-default" title="Like"><i class="fa fa-heart like" aria-hidden="true"></i></span>
	<span class= "btn btn-default" title="Bookmark"><i class="fa fa-bookmark bookmark" aria-hidden="true"></i></span>
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
