<div class="card">
  <%= image_tag recipe.photos.first.file, class: "card-img-top img-fluid" %>
  <div class="card-block">
    <h4 class="card-title"><%= recipe.title %></h4>
    <p class="card-text"><%= recipe.describe %></p>
  </div>
  <div class="card-footer">
    <%= link_to "Show", recipe_path(recipe.id) %>
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
