<div class="card">
  <img class="card-img-top img-fluid" src="https://img-global.cpcdn.com/005_recipes/107ef7bf531d8548/400sq70/photo.jpg" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title"><%= recipe.title %></h4>
    <p class="card-text"><%= recipe.describe %></p>
  </div>
  <div class="card-footer">
    <a href="#">Pnt</a>
    <small class="text-muted">Last updated 3 mins ago</small>
  </div>
</div>
