<script>
  new WOW().init();
</script>
<% if @recipes %>
  <div class="card-columns">
    <% @recipes.each do |recipe| %>
      <%= render partial: 'shared/recipe_small', locals: { recipe: recipe } %>
    <% end %>
  </div>
<% else %>
  <div>
    We don't have any recipe. Follow other or create new recipe.
  </div>
<% end %>

