
<div class="landing-page">
    <div class="inner">
    <h1>CookSky</h1>
    <hr>
    <ul class="button" id="button-login">
        <li>
            <a href="#" type="submit" class="signin">Đăng Nhập</a>
        </li>
    </ul>
    <a href="#" class="signup">Đăng ký</a>                
</div>
</div>