<style type="text/css" media="screen">
	a{
		color:#fff;
		text-decoration: none;
	}
	a:hover{
		color: #fff;
	}
</style>
<script>
  new WOW().init();
</script>
<div class="wrap-landing">
  <div class="content wow fadeInDown">
    <h1>FoodSky</h1>
    <hr style="background-color: #fff; width:120px;">
    <p>Donec iaculis lorem metus, at euismod lorem et lobortis. Maecenas tincidunt posuere quam, eget tempus rutrum non. Ut tincidunt amet ipsum.</p>
    <ul class="button" id="button-login">
        <li>
          <%= link_to "Log In", new_user_session_path, class: "signin" %>
        </li>
        <li>
          <%= link_to "Sign Up", new_user_registration_path, class: "signup" %>
        </li>
    </ul>
    <i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i>
    <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
  </div>
</div>