// Place all the styles related to the Page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.foodsky{
	color: #ffffff!important;
	font-size: 25px !important;
	font-weight: bold !important;
}
.bg-nav{
	background-image: linear-gradient(to top, rgba(77,234,242,0.3), rgba(0,0,0,0.1)), url("./sky.jpg");
}
.body-bg{
	background-color: #DCDCDC;
}
.wrap-login{
	padding: 20px;
	padding-bottom: 50px;
	padding-top: 30px;
	border-radius: 5px;
	box-shadow: 10px 10px 10px grey;
	background-color: #ffffff;
}