// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cover-wrap{
	color: #FFFFFF;
	background-image: linear-gradient(to top, rgba(210,239,245,0.753), rgba(0,0,0,0.753)), url("./bg.jpg");
}

.user-name-cover{
	font-weight: bold !important;
    font-size: 26px !important;
}
.jumbotron h2{
	font-size: 35px !important;
}